services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: aqm
      POSTGRES_USER: aqm_user
      POSTGRES_PASSWORD: aqm_dev_password
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./aqm_server/migrations:/docker-entrypoint-initdb.d

volumes:
  pgdata:
